.scroll-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 0;
    width: 190%;
    scroll-snap-align: start;
}

.scroll-container .media-item {
    width: 29.375rem;
    position: relative;
    cursor: pointer;
}
@media (width <= 500px) {
    .scroll-container .media-item {
        height: 150px;
    }
}

.scroll-container .media-description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 2;
}

.scroll-container .media-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    background: linear-gradient(#00000000, #000000d7);
}

.scroll-container .media-item:hover .media-layer {
    background: linear-gradient(#00000049, #000000d7);
}

@media (width <= 800px) {
    .scroll-container {
        gap: 0.5rem;
        width: 380%;
        padding-left: 0.5rem;
    }

    .scroll-container h3 {
        font-size: var(--fs-medium);
    }

    .scroll-container .media-img {
        object-fit: cover;
        height: 100%; 
    }
}

@media (1700px <= width) {
    .scroll-container {
        width: 125%;
    }
}
