.bookmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background: var(--clr-dark-blue);
    opacity: 0.75;
    z-index: 2;
}

.bookmark svg > path {
    transform: rotate(1deg);
}

.bookmark:hover {
    background-color: var(--clr-white);
    transition: background-color ease 0.2s;
}

.bookmark:hover svg > path {
    stroke: var(--clr-dark-blue);
    transition: stroke ease 0.2s;
}

.bookmark:active {
    animation: pulse 1s;
}

@keyframes pulse {
    0% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@media (width <= 800px) {
    .bookmark {
        top: 0.5rem;
        right: 0.5rem;
    }
}

