#side-nav {
    position: relative;
    padding: 2rem 0;
    height: calc(100% - 47px);
    border-radius: 1rem;
    text-align: center;
    background: var(--clr-semi-dark-blue);
}

.logo-container {
    padding-bottom: 2rem;
}

.logo {
    width: 70px;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.nav-item {
    color: var(--clr-greyish-blue);
    font-size: var(--fs-small);
    cursor: pointer;
}

.nav-item svg:hover > path {
    fill: var(--clr-red);
    transition: fill ease 0.2s;
}

.active,
.active svg > path,
.active svg:hover > path {
    fill: var(--clr-white);
    color: var(--clr-white);
}

@media (width <= 800px) {
    #side-nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 0;
        padding: 0 1.5rem;
    }

    .navigation {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 0;
    }

    .nav-item {
        border-bottom: 2px solid #ffff0000;
        padding: 1.5rem 0 0.5rem 0;
    }

    .active {
        border-left: none;
        border-color: var(--clr-red);
    }

    .logo-container {
        display: none;
    }
}