<div class="form-container animate__animated animate__fadeIn  animate__delay-2s">
    <h2>{{ title |titlecase}}</h2>
    <form action="" id="sign-up-form">
        <p class="input-container">
            <label for="">
                <input type="email" placeholder="Email address">
            </label>
        </p>
        <p class="input-container">
            <label for="">
                <input type="password" placeholder="Password">
            </label>
        </p>
        <p class="input-container">
            <label for="">
                <input type="password" placeholder="Repeat password">
            </label>
        </p>
        <button type="submit" class="form-btn">Create an account</button>
    </form>
    <p class="form-msg">Already have an account? <a href="" class="form-link">Login</a></p>
</div>
