.trending-displayer {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.trending-displayer::-webkit-scrollbar {
    display: none;
}

@media (width <= 800px) {
    h2 {
        padding-left: 0.5rem;
    }
}