<!-- Trending Display -->
<h2>{{ titleTrending }}</h2>
<section class="trending-displayer">
    <app-trending 
        [trending]="trending" 
        [isLoaded]="isLoaded" 
        [updateDisplay]="updateDisplay">
    </app-trending>
</section>
<!-- Recommended Display -->
<h2>{{ titleRecommended }}</h2>
<section class="recommended-displayer component-wrap">
    <app-recommended 
        [recommended]="recommended"
        [isLoaded]="isLoaded" 
        [updateDisplay]="updateDisplay">
    </app-recommended>
</section>